.create-mnemonic {
  display: flex;
  flex-direction: column;
  padding: 0 50px 60px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  flex: 1;
}

.create-mnemonic__title {
  margin: 40px 0 60px;
  font-size: 34px;
  font-weight: 400;
  text-align: center;
  flex-shrink: 0;
}

.create-mnemonic__footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
  align-items: center;
}

.create-mnemonic__generate-button {
  margin-right: 15px;
}