.textarea {
  resize: vertical;
  border: 1px solid #6a8cc4;
  border-radius: 5px;
  min-height: 56px;
  padding: 6px 15px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  width: 100%;
  transition: .3s ease;
}

.textarea:focus {
  outline: 0;
  border-color: #5c52e5;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
}
