.button {
  border-radius: 5px;
  background: ghostwhite;
  padding: 5px 15px;
  flex-shrink: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07), 0 1px 2px rgba(0, 0, 0, 0.10);
  transition: .3s ease;
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.button:disabled {
  opacity: 0.8;
  box-shadow: none;
}

.button:focus {
  outline: 0;
}

.button:hover {
  background-color: #e8e8f3;
}

.button:active {
  box-shadow: none;
  background-color: rgb(221, 221, 221);
}

.button_alt {
  background: #f7d38c;
  border-color: darkgray;
}

.button_alt:hover {
  background-color: #f4cc7c;
}

.button_alt:active {
  background-color: #dbb362;
}