.selectbox {
  
}

.selectbox__trigger {
  background: ghostwhite;
  display: flex;
  align-items: center;
  border-radius: 2px;
  outline: 0;
  border: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07), 0 1px 2px rgba(0, 0, 0, 0.10);
  height: 100%;
  padding: 6px;
  border-radius: 1px;
}