.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(to top,#5f93e8, #9198e5);
}

.app__body {
  padding: 12px 50px 40px;
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
}

.app__back-button-wrapper {
  margin-bottom: 12px;
}

.app__back-button {
  display: flex;
  align-items: center;
  background: transparent;
  border: 0;
  outline: 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.app__back-button-arrow {
  font-size: 20px;
  margin-right: 5px;
  transition: .3s ease;
}

.app__back-button:hover .app__back-button-arrow {
  transform: translateX(-3px);
}