.dashboard-panel {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.dashboard-panel__app {
  display: inline-flex;
  margin-left: 7px;
  width: 27px;
  height: 27px;
  border: 1px solid white;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  transition: .3s ease;
}

.dashboard-panel__app:first-of-type {
  margin-left: 30px;
}

.dashboard-panel__app:hover {
  transform: scale(1.05);
}

.dashboard-panel__app_wallet {
  background: linear-gradient(to bottom, rgba(255, 95, 109, 0.2), rgba(255, 195, 113, 0.2));
}

.dashboard-panel__app_market {
  background: linear-gradient(to bottom, rgba(76, 161, 175, 0.2), rgba(196, 224, 229, 0.2));
}