.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.home__item {
  background: white;
  margin-left: 10%;
  width: 45%;
  max-width: 500px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  letter-spacing: 0.4px;
  cursor: pointer;
  transition: .3s ease;
  color: inherit;
  text-decoration: none;
}

.home__item:hover {
  transform: scale(1.015);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.10), 0 3px 6px rgba(0, 0, 0, 0.16);
}

.home__item:active { 
  box-shadow: 0;
}

.home__item:first-child {
  margin-left: 0;
}

.home__item_entry {
  background: white url('../../resources/img/lock.svg');
  background-repeat: no-repeat;
  background-size: 127px;
  background-position: 112% 50%;
}

.home__item_create {
  background: white url('../../resources/img/plus-circle.svg');
  background-repeat: no-repeat;
  background-size: 111px;
  background-position: 112% 50%;
}
