.header {
  padding: 10px 50px;
  display: flex;
  align-items: center;
  background: white;
  flex-shrink: 0;
}

.header__logo {
  width: 203px;
  height: 38px;
  background: url('../../resources/img/logo.png');
  background-size: cover;
}

.header__pbKey {
  margin-right: 30px;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.header__pbKey-hint {
  margin-right: 5px;
  font-size: 13px;
  color: rgba(55, 55, 55, 0.6);
  letter-spacing: 0.2px;
}

.header__pbKey-value {
  font-size: 15px;
  letter-spacing: 0.3px;
}

.header__selectbox-name {
  text-transform: uppercase;
}

.header__selectbox-url {
  font-size: 14px;
  margin-left: 4px;
}

.header__selectbox-arrow {
  font-size: 10px;
  margin-left: 6px;
}

.header__aside {
  margin-left: auto;
  display: flex;
  align-items: center;
}