.create {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  background: white url('../../resources/img/plus-circle-opacity.svg');
  background-repeat: no-repeat;
  background-position: 97% 81%;
  background-size: 400px;
}

.create__title {
  margin-top: 40px;
  font-size: 34px;
  font-weight: 400;
  text-align: center;
  flex-shrink: 0;
}

.create__methods {
  padding: 0 50px 120px;
  flex: 1;
  display: flex;
}

.create__method {
  width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.create__method-text {
  font-size: 24px;
  letter-spacing: 0.4px;
}

.create__method:first-child:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 80px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 0;
}

.create__method-hint {
  font-size: 16px;
  margin-top: 4px;
  opacity: 0.8;
}

.create__method-button {
  font-size: 18px;
  margin-top: 25px;
  color: cornflowerblue;
  transition: .3s ease;
}

.create__method-button:hover {
  color: #1e50a8
}