
.dashboard {
  background: white;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 39px;
}

.dashboard__title {
  margin-top: 40px;
  font-size: 34px;
  font-weight: 400;
  text-align: center;
  flex-shrink: 0;
}

.dashboard__apps {
  list-style: none;
  display: flex;
  margin-top: 30px;
  padding: 0 100px;
  flex-wrap: wrap;
}

.dashboard__app {
  width: 170px;
  height: 170px;
  margin-right: 30px;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(109, 160, 242, 0.07), 0 1px 2px rgba(109, 160, 242, 0.17);
  display: flex;
  transition: .3s ease;
}

.dashboard__app-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-decoration: none;
  color: inherit;
  padding: 10px;
}

.dashboard__app-icon {
  width: 70px;
  height: 70px;
  margin: auto;
}

.dashboard__app-text {
  margin-top: auto;
  font-size: 17px;
  letter-spacing: 0.3px;
}

.dashboard__app:hover {
  transform: scale(1.05);
}

.dashboard__app_wallet {
  background: linear-gradient(to bottom, rgba(255, 95, 109, 0.1), rgba(255, 195, 113, 0.1));
}

.dashboard__app_market {
  background: linear-gradient(to bottom, rgba(76, 161, 175, 0.1), rgba(196, 224, 229, 0.1));
}