* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body, #root {
  height: 100%;
}

body {
  color: rgb(51, 51, 51);
}

input, select, option, button, textarea {
  font-size: 16px;
  line-height: normal;
}
