.access-keystore {
  display: flex;
  flex-direction: column;
  padding: 0 50px 60px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  flex: 1;
}

.access-keystore__title {
  margin: 40px 0 60px;
  font-size: 34px;
  font-weight: 400;
  text-align: center;
  flex-shrink: 0;
}

.access-keystore__input-file {
  display: none;
}

.access-keystore__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  align-items: center;
}

.access-keystore__label {
  display: flex;
  margin-right: 20px;
  align-items: center;
}

.access-keystore__label-hint {
  font-size: 13px;
  opacity: 0.8;
  margin-left: 10px;
}

